#!/bin/bash

open() {
    if [ -f "$1" ] && [ code-server >/dev/null 2>&1 ]; then
        /usr/bin/code-server --open $1
        return
    fi
    /usr/bin/open $@
}

beautify_ansible() {
    export ANSIBLE_STDOUT_CALLBACK=debug
}
